.navContainer {
  height: 11vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #5704DD;
  background-color: #141414;
}

.centerLogo {
  width: 25vw;
}

.navLinks {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
  color: white;
}

.centerSearch {
  width: 45vw;
  display: flex;
  padding: 10px;
}

.centerSearch input {
  border-radius: 6px;
  height: 4vh;
  width: 25vw;
  border: 2px solid black;
}

.centerSearch {}

.mainContainer {
  height: 78vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.svgContainer {
  width: 50vw;
}

.svg {
  width: 40vw;
}

.InfoContainer {
  width: 50vw;
  margin: 50px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 35px;
  padding: 0px 20px;
}

.joinButton{
  background-color: #5704DD;
  border: 3px solid #5704DD;
  border-radius: 15px;
  height: 3rem;
  width: 9rem;
  font-size: 19px;
  padding: 5px;
  margin-top: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  transition: ease 0.7s;
}

.joinButton:hover{
  background-color: #5704DD;
  border: 3px solid #5704DD;
  border-radius: 7px;
  height: 3rem;
  width: 9rem;
  font-size: 19px;
  color: #fff;
  padding: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: ease 0.7s;
  cursor: pointer;
}

.infoButton{
  background-color: #5704DD;
  border: 3px solid #5704DD;
  border-radius: 15px;
  height: 3rem;
  width: 9rem;
  font-size: 19px;
  margin-left: 4rem;
  padding: 5px;
  margin-top: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  transition: ease 0.7s;
}

.infoButton:hover{
  background-color: #5704DD;
  border: 3px solid #5704DD;
  border-radius: 7px;
  height: 3rem;
  width: 9rem;
  font-size: 19px;
  color: #fff;
  padding: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: ease 0.7s;
  cursor: pointer;
}

.info2Button{
  background-color: #fe6684;
  border: 3px solid #fe6684;
  border-radius: 15px;
  height: 3rem;
  width: 9rem;
  font-size: 19px;
  margin-left: 4rem;
  padding: 5px;
  margin-top: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  transition: ease 0.7s;
}

.info2Button:hover{
  background-color: #fe6684;
  border: 3px solid #fe6684;
  border-radius: 7px;
  height: 3rem;
  width: 9rem;
  font-size: 19px;
  color: #fff;
  padding: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: ease 0.7s;
  cursor: pointer;
}

.signButton{
  background-color: #fe6684;
  border: 3px solid #fe6684;
  border-radius: 15px;
  height: 3rem;
  width: 9rem;
  font-size: 19px;
  padding: 5px;
  margin-top: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  transition: ease 0.7s;
}

.signButton:hover{
  background-color: #fe6684;
  border: 3px solid #fe6684;
  border-radius: 7px;
  height: 3rem;
  width: 9rem;
  font-size: 19px;
  color: #fff;
  padding: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: ease 0.7s;
  cursor: pointer;
}

.cardTitle{
  font-size: 40px;
}

.cardSubTitle{
  font-size: 40px;
  text-align: left;
  padding: 0rem 4rem;
}

.cardSubDesc{
  font-size: 1rem;
  text-align: left;
  padding: 0rem 4rem;
}

.cardFooter{
  font-size: 15px;
}

.logo {
  font-size: 3rem;
  height: 10vh;
}

.hr {
  width: 1px;
  height: 5vh;
  margin: 1rem;
  background: #fff;
}

.flexContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.CrossIcon{
  width: 13vw;
}

.mainNonProfitCard {
  width: 60vw;
  height: auto;
  padding: 1rem;
  margin-bottom:1rem;
  display: flex;
  align-items: center;
  border-radius: 17px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.centerText {
  text-align: center;
  color: #c8c8c8;
}