.postImage {
    padding: 10px;
    border-radius: 100px;
    width: 20vw;
}

.postLocation, .postMembers, .postEmail, .postPhone {
    margin: 2px;
    font-size: small;
}

.postContainer {
    width: 100vw;
    font-family: 'Poppins';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.flexRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.postName {
    color: white;
    font-weight: 300;
}

.postButton {
    width: auto;
    font-size: 17px;
    padding: 10px;
    margin: 10px;
    background-color: #5704DD;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: 200;
    font-family: 'Poppins';
    transition-property : background-color;
    transition-duration : 0.4s;
}

.postButton:hover {
    background-color: #6302ff;
    transition-property : background-color;
    transition-duration : 0.2s;
}

.postDescription {
    max-width: 50vw;
    word-wrap: break-word;
}